{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock head %}
{% block content %}
    <h2>Вход</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>  {# название поля #}
                    <td>{{ form.username }}</td>  {# куда вводить #}
                </tr>

                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'password_reset' %}">Забыли пароль</a>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Войти">
    </form>

    <h3>
        <a href="{% url 'registration' %}">Регистрация</a>
    </h3>
{% endblock %}