.block {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #eaa242;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.block h4 {
  margin-bottom: 10px;
}

.block iframe {
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
}

.block form {
  margin-top: 20px;
}

.block form input[type="submit"] {
  padding: 10px 20px;
  background-color: #3399ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.block h3 {
  color: #ff0000;
}